<% @logged_in_user = current_user %>
<div class="container">
  <h1><%= @logged_in_user.name %></h1>
  <br>
  <%= @logged_in_user.user_name %>
  <hr>

  <%= @user %>
  <%  if @logged_in_user %>

    <%= erb :_create_tweet %>

  <% end %>

  <h2>Tweets from People I follow</h2>
    <div class="container-sml">
      <% @logged_in_user.tweets.sort_by{ |tweet| tweet.created_at}.each do |tweet| %>
        <section class="tweet">
          <%= tweet.user.user_name %>: <br>
          <%= tweet.message %><br>
          <%= tweet.created_at %>
        </section>

      <% end %>
    </div>


</div>