<!-- SIDEBAR COLUMN -->
<div id="content" class="side">

  <!-- Show logged in User -->

  <div class="profile_image">
    <% profile_image = @logged_in_user.gravatar_url %>
    <img src="<%= profile_image %>">
  </div>
  <div class="bubble">
    <% @logged_in_user = current_user %>
    <span class="user_name"><%= @logged_in_user.name %></span>
    <span class="handle">(@<%= @logged_in_user.user_name %>)</span>
  </div>
</div><!-- /SIDEBAR COLUMN -->



<!-- MAIN COLUMN -->
<div id="content" class="main">

<!-- User can create a new tweet -->
  <div class="bubble">
    <%= @user %>
      <%  if @logged_in_user %>
        <%= erb :_create_tweet %>
      <% end %>
    <hr>
  </div>

<!-- Tweets from people User is following -->
  <div class="bubble">
    <h2>Tweets from People I follow</h2>
    <% @logged_in_user.followed_users.each do |followed_user| %>
      <% followed_user.tweets.each do |tweet|%>
      <section class="tweet">
        <a href="/users/<%= tweet.user.id %>"><%= tweet.user.user_name %></a>
        <span class="time"> | <%= tweet.created_at.strftime("%H hours and %M minutes ago") %></span>
        <%= tweet.message %><br>
      </section>
      <% end %>
    <% end %>
  </div>

</div><!-- /MAIN COLUMN -->