<% @logged_in_user = current_user %>

  <span class="user_name"><%= @logged_in_user.name %></span>
  <span class="handle">(@<%= @logged_in_user.user_name %>)</span>
  <hr>

  <%= @user %>
  <%  if @logged_in_user %>

    <%= erb :_create_tweet %>

  <% end %>

  <h2>Tweets from People I follow</h2>
<div class="container-sml">
<% @logged_in_user.followed_users.each do |followed_user| %>
        <% followed_user.tweets.each do |tweet|%>
        <section class="tweet">
          <a href="/user/<%= tweet.user.id %>"><%= tweet.user.user_name %></a>:
          <%= tweet.message %><br>
          <%= tweet.created_at %>
        </section>
        <% end %>
      <% end %>

    </div>
